protobuf-to-pydantic==0.2.1.0a13
grpcio-tools==1.51.0
toml==0.10.2
mypy-protobuf==3.3.0
isort==5.9.3
black==23.1.0
autoflake==1.4
# pydantic default version is v2 last.
# In production, it should be mandatory to define a fixed version(Especially for users of the v1 version)
# pydantic==xxx
