grpcio-tools==1.47.0; python_version >= "3.6"
grpcio==1.47.0; python_version >= "3.6"
protobuf==3.20.1; python_version >= "3.7"
pydantic==1.9.2; python_full_version >= "3.6.1"
six==1.16.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
typing-extensions==4.2.0; python_version >= "3.7" and python_full_version >= "3.6.1"
