annotated-types==0.5.0 ; python_version >= "3.8" and python_version < "4.0"
atomicwrites==1.4.1 ; python_version >= "3.8" and python_version < "4.0" and sys_platform == "win32"
attrs==23.2.0 ; python_version >= "3.8" and python_version < "4.0"
autoflake==1.4 ; python_version >= "3.8" and python_version < "4.0"
black==23.3.0 ; python_version >= "3.8" and python_version < "4.0"
cfgv==3.3.1 ; python_version >= "3.8" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.8" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.8" and python_version < "4.0" and (sys_platform == "win32" or platform_system == "Windows")
coverage==5.5 ; python_version >= "3.8" and python_version < "4"
distlib==0.3.8 ; python_version >= "3.8" and python_version < "4.0"
dnspython==2.3.0 ; python_version >= "3.8" and python_version < "4.0"
email-validator==2.0.0 ; python_version >= "3.8" and python_version < "4.0"
filelock==3.12.2 ; python_version >= "3.8" and python_version < "4.0"
flake8==3.9.2 ; python_version >= "3.8" and python_version < "4.0"
identify==2.5.24 ; python_version >= "3.8" and python_version < "4.0"
idna==3.7 ; python_version >= "3.8" and python_version < "4.0"
importlib-metadata==4.11.4 ; python_version >= "3.8" and python_version < "4.0"
iniconfig==2.0.0 ; python_version >= "3.8" and python_version < "4.0"
isort==5.6.4 ; python_version >= "3.8" and python_version < "4.0"
lark==1.1.9 ; python_version >= "3.8" and python_version < "4.0"
mccabe==0.6.1 ; python_version >= "3.8" and python_version < "4.0"
mypy-extensions==1.0.0 ; python_version >= "3.8" and python_version < "4.0"
mypy-protobuf==3.2.0 ; python_version >= "3.8" and python_version < "4.0"
mypy==1.0.0 ; python_version >= "3.8" and python_version < "4.0"
nodeenv==1.9.1 ; python_version >= "3.8" and python_version < "4.0"
packaging==24.0 ; python_version >= "3.8" and python_version < "4.0"
pathspec==0.11.2 ; python_version >= "3.8" and python_version < "4.0"
platformdirs==3.11.0 ; python_version >= "3.8" and python_version < "4.0"
pluggy==1.2.0 ; python_version >= "3.8" and python_version < "4.0"
pre-commit==2.14.0 ; python_version >= "3.8" and python_version < "4.0"
py==1.11.0 ; python_version >= "3.8" and python_version < "4.0"
pycodestyle==2.7.0 ; python_version >= "3.8" and python_version < "4.0"
pyflakes==2.3.1 ; python_version >= "3.8" and python_version < "4.0"
pytest==6.2.5 ; python_version >= "3.8" and python_version < "4.0"
pyyaml==6.0.1 ; python_version >= "3.8" and python_version < "4.0"
setuptools==68.0.0 ; python_version >= "3.8" and python_version < "4.0"
toml==0.10.2 ; python_version >= "3.8" and python_version < "4.0"
tomli==2.0.1 ; python_version >= "3.8" and python_version < "3.11"
typed-ast==1.5.5 ; python_version < "3.8" and python_version >= "3.8"
types-protobuf==4.24.0.4 ; python_version >= "3.8" and python_version < "4.0"
typing-extensions==4.7.1 ; python_version >= "3.8" and python_version < "4.0"
virtualenv==20.21.1 ; python_version >= "3.8" and python_version < "4.0"
zipp==3.15.0 ; python_version >= "3.8" and python_version < "4.0"
